body{margin: 0;
 background-image: url("images/abstract-luxury-glowing-lines-curved-overlapping-on-dark-blue-background-template-premium-award-design-free-vector.jpg");
background-repeat: no-repeat;
background-size: cover;
 font-size: 2rem; 
}
img{width: 100px;
height: 100px;}
.container{
    width: 800px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: #E5D9F2;
    border: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.one{display: block;
width: 100px;}
.one1{display: block;
    width:600px;
    margin: 0;
}
#para{margin:5px}
h4{color: rgb(10, 133, 215);
margin:5px;}
h1{
    color: rgba(3, 3, 57, 0.763);
    text-align: center;
    font-size: 2.5rem;
}
h3{
    color: rgb(49, 38, 38);
    text-decoration: underline;
}
.prof{
    width: 900px;
    border: 2px solid black;
    border-radius: 3%;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #F5EFFF;
    margin-right: 50px;
}
.faculty{
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
    background-color: #CDC1FF;
    background-image: url("best-overseas-education-consultants-in-chennai.jpg");
    background-size: contain;
    background-blend-mode:lighten;
}
#AP{
    border-radius: 10px;
}
.prof1{
    display: flex;
    flex-direction: row;
}
.edu{
    width:500px;
    height: 300px;
    margin-top: 100px;
    border: 2px;
    border-radius: 50px;
    border-style:dotted;
}
.edu1{
    width:500px;
    height: 500px;
    margin-top: 300px;
    border: 1px;
    border-radius: 50px;
    border-style: groove;
}
.edu2{
    width: 500px;
    height: 300px;
    margin-top: 0px;
    border: 1px;
    border-radius: 50px;
    border-style:dotted;
}
.edu3{
    width: 500px;
    height: 300px;
    margin-top: 200px;
    border: 1px;
    border-radius: 50px;
    border-style:dotted;
}
.twopics{
    display: flex;
    flex-direction: column;
}
.booking{
    border: 1px;
    height: 20px;
    margin-top: 70px;
    margin-right: 5px;
    box-shadow: 0px 3px 3px 2px black;
}
.booking1 {
    border: 1px;
    height: 20px;
    margin-top: 120px;
    margin-right: 5px;box-shadow: 0px 3px 3px 2px black;

}
.booking2 {
    border: 1px;
    height: 20px;
    margin-top: 80px;
    margin-right: 5px;
    box-shadow: 0px 3px 3px 2px black;
}
.booking:hover{
    background-color: #EECAD5;
}
.booking:active{
    background-color: #F0A8D0;
    border-radius: 50px;
}
.booking1:hover{
    background-color: #EECAD5;
}
.booking1:active{
    background-color: #F0A8D0;
    border-radius: 50px;
}
.booking2:hover{
    background-color: #EECAD5;
}
.booking2:active{
    background-color: #F0A8D0;
    border-radius: 50px;
}
.booking  a{
    text-decoration: none;
    color:black;
}
.booking1  a{
    text-decoration: none;
    color:black;
}
.booking2  a{
    text-decoration: none;
    color:black;
}
@media(max-width:768px){
    h1{
   font-size: 2rem;
    }
}
